:host {
  display: block;
  margin: 10px;
}

a {
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  height: 168px;

  ion-icon {
    font-size: 53px;
    margin-bottom: 8px;
  }

  div {
    line-height: 35px;
    font-size: 22px;
    white-space: pre-line;
  }
}

