<ion-header>
  <ion-toolbar>
    <ion-title>Wybierz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>

      <ion-card-title>{{ text }}</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <ion-button
        color="success"
        (click)="dismissModal(true)"
      >Tak</ion-button>
      <ion-button
        color="danger"
        (click)="dismissModal(false)"
      >Nie</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
