.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10pxx;
}

.parties {
  ion-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    gap: 13px;

    span {
      align-self: end;
    }

    img {
      width: 30px;
    }

    &--first {
      img {
        width: 45px;
      }
    }
  }
}

ion-card {
  padding-bottom: 11px;
}

ion-item {
  --border-color: transparent;
}
