.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10pxx;
}

.parties {

  &__item {
    display: flex;

    img {
      width: 30px;
    }

    &--first {
      img {
        width: 45px;
      }
    }
  }
}

ion-card {
  padding-bottom: 11px;
}

ion-item {
  --border-color: transparent;
}
