<ion-tabs>
  <ion-tab-bar slot="bottom">
    <button
      (click)="changeCurrentQuestion.emit(currentQuestion - 1)"
      [disabled]="currentQuestion === 0"
    >
      <ion-icon name="chevron-back-circle"></ion-icon>
      <div>Poprzedni</div>
    </button>

    <button
      *ngIf="length !== currentQuestion"
      (click)="changeCurrentQuestion.emit(currentQuestion + 1)"
    >
      <ion-icon name="chevron-forward-circle"></ion-icon>
      <div>Następny</div>
    </button>

    <button
      *ngIf="length === currentQuestion"
      (click)="endTest.emit()"
    >
      <ion-icon name="person-circle"></ion-icon>
      <div>Zakończ</div>
    </button>
  </ion-tab-bar>
</ion-tabs>
