<ion-tabs>
  <ion-tab-bar slot="bottom">
    <button
      *ngIf="!isOnlyHome"
      (click)="changeCurrentQuestion.emit(currentQuestion - 1)"
      [disabled]="currentQuestion === 0"
    >
      <ion-icon
        name="chevron-back-circle"
        color="success"
      ></ion-icon>
    </button>

    <button (click)="goHome.emit()">
      <ion-icon
        class="home-icon"
        name="home"
        color="success"
      ></ion-icon>
    </button>

    <button
      *ngIf="length !== currentQuestion && !isOnlyHome"
      (click)="changeCurrentQuestion.emit(currentQuestion + 1)"
      [disabled]="isNotCurrentQuestionChoosed"
    >
      <ion-icon
        name="chevron-forward-circle"
        color="success"
      ></ion-icon>
    </button>

    <button
      *ngIf="length === currentQuestion && !isOnlyHome"
      (click)="endTest.emit()"
      [disabled]="!isAllQuestionChoosed"
    >
      <ion-icon
        name="stop-circle"
        color="success"
      ></ion-icon>
    </button>
  </ion-tab-bar>
</ion-tabs>
