ion-list {
  ion-item {
    ion-label {
      overflow: inherit;
      white-space: normal;
      line-height: 23px;
      display: flex;
      gap: 10px;
    }
  }
}

.label {
  margin-left: 1rem;
  padding-bottom: 0;
  padding-top: 1.5rem;
}
